.appContainer {
    display: flex;
}

.flex1 {
    flex: 5;
    display: flex;
    justify-content: center;
}

.subFlex {
    display: flex;
    justify-content: center;
    align-self: center;
    flex: 1;
    height: 100vh;
}